.report-container {
  max-width: 800px;
  margin: 0 auto;
  font-family: Verdana, sans-serif;
  width: 210mm;
  height: 297mm;
  background-color: #ffffff; 
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 50px;
  page-break-after: always;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 200px;
  padding-bottom: 150px;
}

.report-title {
  text-align: center;
}

.calibration-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.calibration-table th,
.calibration-table td {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  font-size: 14px;
}

/* Add styling for the value cells */
.value-cell {
  color: red;
}

.method-section {
  margin-top: 30px;
}

.method-section p {
  margin-bottom: 15px;
  line-height: 1.5;
}

.centered {
  text-align: center;
}

.instrument-type {
  color: blue;
  text-align: center;
  font-style: italic;
  margin-bottom: 15px;
}

.report-section {
  margin-bottom: 20px;
}